*{
	margin:0 0;
	padding: 0 0;
}

body{
	background-color: #000;
}

img.vegas-background{
	opacity: .3 !important;
}

#wrapper{
}

#logo{
	opacity: 0.9;
	margin: 10% auto 0 auto;
	vertical-align: middle;
}

#content{
	text-align: center;
}

#centered {
	position:relative; clear:left;
	height:550px; width:80%;
	margin:0 auto;
	background:#fff;
	border:4px solid #666;
}

#content .text{
	color: white;
	font-size: 20px;
	font-family: 'Droid Sans', sans-serif;
}

#content .contact{
	color: white;
	font-size: 12px;
	font-family: 'Droid Sans', sans-serif;
}